In [1]:
import mysql.connector
from flask import Flask, render_template, request
import requests
import json
from flask_cors import CORS
from cryptography.fernet import Fernet
from datetime import datetime
import string
from random import choice

In [2]:
connection = mysql.connector.connect(user = 'root', password = '123', host='127.0.0.1', port = 3306, database = 'VOA',  connect_timeout=1000)
cursor = connection.cursor(dictionary=True)

In [19]:
query_group = f"SELECT DISTINCT(payment_id) FROM smk_ticket WHERE group_id = 313;"
print(query_group)     
cursor.execute(query_group)
data = cursor.fetchone()

SELECT DISTINCT(payment_id) FROM smk_ticket WHERE group_id = 313;

In [21]:
data['payment_id']

1

In [12]:
for row in data: 
    visitor_id = row['visitor_id'] 
    member = row['member']
    dob = row['dob']
    age = datetime.today().year - dob.year - ((datetime.today().month, datetime.today().day) < (dob.month, dob.day))
 
    print(visitor_id, age)

1 25
2 28
3 1

In [7]:
query_group = f"select payment_id from smk_payments where user_id = 1 and payment_date = '2023-05-11';"
print(query_group)     
cursor.execute(query_group)
payment_id = cursor.fetchone()['payment_id']
payment_id

select payment_id from smk_payments where user_id = 1 and payment_date = '2023-05-11';

1

In [15]:
json.dumps({'group_id': 1335, 'payment_id': 1})

'{"group_id": 1335, "payment_id": 1}'

In [50]:
from datetime import time

def float_to_time_string(f):
    hours, minutes = divmod(int(f * 60), 60)
    t = time(hour=hours, minute=minutes)
    time_string = t.strftime("%H:%M:%S")
    return time_string

In [32]:
import jsonify

In [33]:
request = [{'parking': {'inTime': '9.5', 'outTime': '16', 'parkingPrice': ''}}]

TypeError: 'module' object is not callable

In [104]:
# query_payment = f"SELECT DISTINCT(payment_id) FROM smk_ticket WHERE group_id = 323;"
# cursor.execute(query_payment)
# data = cursor.fetchone()

row = {'inTime': '9.5', 'outTime': '16', 'parkingPrice': ''}
parkingPrice = abs((float(row['outTime']) - float(row['inTime'])) * 8)
print(parkingPrice)
print(row)
inTime = float_to_time_string(float(row['inTime']))
print(inTime)
outTime = float_to_time_string(float(row['outTime']))
print(outTime)
parkingPrice = row['parkingPrice']

52.0
{'inTime': '9.5', 'outTime': '16', 'parkingPrice': ''}
09:30:00
16:00:00

In [103]:
float(row['inTime'])

9.5

In [53]:
show_name = 'Defense Against the Dark Arts'
show_query = f"SELECT show_id from smk_shows where show_name = '{show_name}'"
cursor.execute(show_query)
cursor.fetchone()['show_id']

4

In [54]:
user_id =1

In [67]:
query = f"SELECT DISTINCT(group_id) FROM smk_ticket WHERE user_id = {user_id};"
print(query)
cursor.execute(query)
data = cursor.fetchone()

SELECT DISTINCT(group_id) FROM smk_ticket WHERE user_id = 1;

In [68]:
group_id = data['group_id']

In [78]:
query = f"SELECT firstName, lastName, tkt_id, tkt_visit_date, tkt_final_price FROM smk_ticket, smk_visitor WHERE smk_ticket.visitor_id = smk_visitor.visitor_id AND smk_ticket.group_id = {group_id};"
print(query)
cursor.execute(query)
ticket = cursor.fetchall()

SELECT firstName, lastName, tkt_id, tkt_visit_date, tkt_final_price FROM smk_ticket, smk_visitor WHERE smk_ticket.visitor_id = smk_visitor.visitor_id AND smk_ticket.group_id = 313;

In [79]:
data['ticket'] = ticket
data

{'group_id': 313,
 'ticket': [{'firstName': 'Shashank',
   'lastName': 'Shekhar',
   'tkt_id': 1,
   'tkt_visit_date': datetime.date(2023, 5, 31),
   'tkt_final_price': 190.0},
  {'firstName': 'Sharad ',
   'lastName': 'Tembhurne',
   'tkt_id': 2,
   'tkt_visit_date': datetime.date(2023, 5, 31),
   'tkt_final_price': 190.0},
  {'firstName': 'Meet ',
   'lastName': 'Diwan',
   'tkt_id': 3,
   'tkt_visit_date': datetime.date(2023, 5, 31),
   'tkt_final_price': 160.0}],
 'parking': [{'parking_date': datetime.date(2023, 5, 31),
   'park_in_time': datetime.timedelta(seconds=32400),
   'park_out_time': datetime.timedelta(seconds=50400),
   'parking_fee': Decimal('40.00')}],
 'show': [{'show_name': 'Walking with the Dinosaurs 3D',
   'start_time': datetime.timedelta(seconds=41400),
   'end_time': datetime.timedelta(seconds=46800),
   'wc_accessible': 'Y',
   'show_date': datetime.date(2023, 10, 24),
   'quantity': 2,
   'total_price': Decimal('40')},
  {'show_name': 'Star Tours: The Adventures Continue',
   'start_time': datetime.timedelta(seconds=55800),
   'end_time': datetime.timedelta(seconds=61200),
   'wc_accessible': 'N',
   'show_date': datetime.date(2023, 10, 24),
   'quantity': 2,
   'total_price': Decimal('40')}]}

In [80]:
query = f"SELECT parking_date, park_in_time, park_out_time, abs(parking_fee) as parking_fee from smk_parking where group_id = {group_id};"
print(query)
cursor.execute(query)
parking = cursor.fetchall()

SELECT parking_date, park_in_time, park_out_time, abs(parking_fee) as parking_fee from smk_parking where group_id = 313;

In [81]:
data['parking'] = parking
data

{'group_id': 313,
 'ticket': [{'firstName': 'Shashank',
   'lastName': 'Shekhar',
   'tkt_id': 1,
   'tkt_visit_date': datetime.date(2023, 5, 31),
   'tkt_final_price': 190.0},
  {'firstName': 'Sharad ',
   'lastName': 'Tembhurne',
   'tkt_id': 2,
   'tkt_visit_date': datetime.date(2023, 5, 31),
   'tkt_final_price': 190.0},
  {'firstName': 'Meet ',
   'lastName': 'Diwan',
   'tkt_id': 3,
   'tkt_visit_date': datetime.date(2023, 5, 31),
   'tkt_final_price': 160.0}],
 'parking': [{'parking_date': datetime.date(2023, 5, 31),
   'park_in_time': datetime.timedelta(seconds=32400),
   'park_out_time': datetime.timedelta(seconds=50400),
   'parking_fee': Decimal('40.00')}],
 'show': [{'show_name': 'Walking with the Dinosaurs 3D',
   'start_time': datetime.timedelta(seconds=41400),
   'end_time': datetime.timedelta(seconds=46800),
   'wc_accessible': 'Y',
   'show_date': datetime.date(2023, 10, 24),
   'quantity': 2,
   'total_price': Decimal('40')},
  {'show_name': 'Star Tours: The Adventures Continue',
   'start_time': datetime.timedelta(seconds=55800),
   'end_time': datetime.timedelta(seconds=61200),
   'wc_accessible': 'N',
   'show_date': datetime.date(2023, 10, 24),
   'quantity': 2,
   'total_price': Decimal('40')}]}

In [82]:
cursor.execute('rollback')

In [83]:
query = f"SELECT show_name, start_time, end_time, wc_accessible, show_date, quantity, total_price from smk_show_order, smk_shows WHERE smk_show_order.show_id = smk_shows.show_id AND smk_show_order.group_id = 220;"
print(query)
cursor.execute(query)
show = cursor.fetchall()

SELECT show_name, start_time, end_time, wc_accessible, show_date, quantity, total_price from smk_show_order, smk_shows WHERE smk_show_order.show_id = smk_shows.show_id AND smk_show_order.group_id = 220;

In [84]:
data['show'] = show
data

{'group_id': 313,
 'ticket': [{'firstName': 'Shashank',
   'lastName': 'Shekhar',
   'tkt_id': 1,
   'tkt_visit_date': datetime.date(2023, 5, 31),
   'tkt_final_price': 190.0},
  {'firstName': 'Sharad ',
   'lastName': 'Tembhurne',
   'tkt_id': 2,
   'tkt_visit_date': datetime.date(2023, 5, 31),
   'tkt_final_price': 190.0},
  {'firstName': 'Meet ',
   'lastName': 'Diwan',
   'tkt_id': 3,
   'tkt_visit_date': datetime.date(2023, 5, 31),
   'tkt_final_price': 160.0}],
 'parking': [{'parking_date': datetime.date(2023, 5, 31),
   'park_in_time': datetime.timedelta(seconds=32400),
   'park_out_time': datetime.timedelta(seconds=50400),
   'parking_fee': Decimal('40.00')}],
 'show': [{'show_name': 'Walking with the Dinosaurs 3D',
   'start_time': datetime.timedelta(seconds=41400),
   'end_time': datetime.timedelta(seconds=46800),
   'wc_accessible': 'Y',
   'show_date': datetime.date(2023, 10, 24),
   'quantity': 2,
   'total_price': Decimal('40')},
  {'show_name': 'Star Tours: The Adventures Continue',
   'start_time': datetime.timedelta(seconds=55800),
   'end_time': datetime.timedelta(seconds=61200),
   'wc_accessible': 'N',
   'show_date': datetime.date(2023, 10, 24),
   'quantity': 2,
   'total_price': Decimal('40')}]}

In [96]:
total=0
subtotal=0

In [99]:
total += float(sum(item['parking_fee'] for item in parking))
subtotal += total

In [95]:
total

Decimal('3040.00')

In [97]:
total += sum(item['tkt_final_price'] for item in ticket)
subtotal += 200 * len(ticket)